$font-stack:  'Times New Roman', Times, serif;
$globalColor: red;
$tyrianPurple:hsl(325,96,20);
// Defining values

%centered-flexbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin reusable-border($width, $circle: false)  {
    @if $circle {
        border-radius: $width * 10;
    } @else {
        border-radius: $width;
    }
    border-width: $width;
    border-color: $tyrianPurple;
    border-style: solid;
}

@mixin reusable-margin{
    margin: 5px;
}

* {
    margin: 0;
    padding:0;
}

body{
    font-family: $font-stack;
    //global color example
    // $globalColor: #1F85DE !global;
    // background-color: $globalColor;
    
}

#container {
    margin: 0px auto;
    overflow: auto;
    //padding: 0 30px;
    a {
        font-weight: bold;
    }
}



#heading {
    
    color: $tyrianPurple;
    @extend %centered-flexbox;
    @include reusable-margin;
  div {
      margin: 4px 0;
  }
  h3{
      font-size: 40px;
  }
  @include reusable-border(5px, $circle: false);
  #logo {
    @include reusable-border(3px, $circle: true);
    img {
        height: 50px;
    }
}
}



#subscribe{
    @include reusable-border(5px, $circle: false);
    margin:10px auto;
    width: 50%;
    h3 {
        
    margin: 0 auto;
    width: fit-content;

    }
}

#articles {
    @extend %centered-flexbox;
}

#footer {
    background-color: $tyrianPurple;
    nav{
        color: white;
    }
}

#search {
    margin-left: auto;
}

@import "navbar";

#footer {
    nav {
        @extend %centered-flexbox;
    }
}